$primary-color: #22c55e;
$secondary-color: #f3f4f6;
$accent-color: #000000;
$text-muted: #6b7280;

$font-family-base: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  background-color: $secondary-color;
  color: $accent-color;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 50px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 1rem 2rem;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerLeft {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .headerRight {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  h3 {
    margin: 0;
  }

  p {
    font-size: 0.875rem;
    color: $text-muted;
    margin: 0;
  }

  .liked,
  .cart,
  .user {
    margin-right: 1rem;
    height: 18px;
    width: 18px;
  }

  img {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
  }

  li {
    display: inline;
    margin-right: 10px;
  }
}

.bigPic {
  max-width: 1024px;
  height: auto;
  padding: 16px 32px;
  display: block;
}

.card {
  width: 210px;
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__like-button {
    position: absolute;
    top: 16px;
    left: 16px;

    background: linear-gradient(270deg, #f6729e, #e02b52, #f190b7);
    background-size: 600% 600%;
    background-position: 0% 50%;
    transition: background-position 0.5s ease, transform 0.3s ease;

    border: none;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: none;
  }

  &__del-button {
    position: absolute;
    top: 16px;
    left: 16px;

    background: linear-gradient(270deg, #c91010, #c70f0f, #980a0a);
    background-size: 600% 600%;
    background-position: 0% 50%;
    transition: background-position 0.5s ease, transform 0.3s ease;

    border: none;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: none;
  }

  &__like-button:hover {
    animation: gradient-move 3s ease infinite;
  }

  &__image {
    border-radius: 10px;
    margin-bottom: 14px;
  }

  &__description {
    font-size: 14px;
    color: #000;
    margin: 0 0 14px;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .card__price-label {
      font-size: 11px;
      color: #bdbdbd;
    }

    .card__price-value {
      font-size: 14px;
      font-weight: bold;
      color: #000;
    }
  }

  &__add-button {
    background: linear-gradient(270deg, #22c55e, #16a34a, #4ade80);
    background-size: 600% 600%;
    background-position: 0% 50%;
    transition: background-position 0.5s ease, transform 0.3s ease;

    border: none;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: none;
  }

  &__add-button:hover {
    animation: gradient-move 3s ease infinite;
  }
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.search-input {
  margin-right: 30px;
  align-items: flex-end;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.button-image {
  width: 16px;
  height: 16px;
  filter: brightness(3);
  transition: filter 0.3s ease;
}

.button-cart {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(37, 197, 37, 0.896);

  border: none;
  border-radius: 16px;
  cursor: pointer;
  color: #fff;
}

.button-image-cart {
  margin: auto;
  width: auto;
  height: auto;
  filter: brightness(3);
  transition: filter 0.3s ease;
}

.drawer {
  padding-left: 2rem;
  margin-bottom: 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 25%;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  &__items {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__footer {
    margin-top: auto;
    padding-top: 1rem;
  }

  &__order-button {
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: #4ab23c;
    color: #ffffff;
    border: none;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(168, 213, 162, 0.4);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  &__order-button:hover {
    background-color: #1c4d10;
    box-shadow: 0 6px 12px rgba(145, 198, 132, 0.6);
  }
}
.modal {
  display: flex;
  flex-direction: column;
  height: 100%;
}
